.online-test {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.progress-bar {
  height: 5px;
  background-color: #e0e0e0;
  margin-bottom: 10px;
}

.progress {
  height: 100%;
  background-color: #007bff;
}

.time-left {
  text-align: right;
  font-weight: bold;
  margin-bottom: 20px;
}

.test-content {
  display: flex;
  gap: 20px;
}

.content-box {
  background-color: #fff;
  border: 1px solid #e0e0e0;
  padding: 20px;
}

.content-box1 {
  background-color: #fff;
  border: 1px solid #e0e0e0;
  padding: 0px;
  padding-left: 10px;
}

.div-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.div-right {
  display: flex;
  justify-content: right;
  align-items: right;
}

.width {
  width: 100%;
}

.bg-color-400 {
  background-color: #f0f0f0;
}

.text-align-right {
  text-align: right;
}

.center-content {
  display: flex;
  justify-content: center;
  /* Horizontally center */
  align-items: center;
  /* Vertically center */
  height: 100%;
  /* Ensure the container has a height to allow vertical centering */
}

.question-section {
  flex: 2;
}

.option {
  display: block;
  margin-bottom: 10px;
}

.button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.skip-button,
.save-next-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.skip-button {
  background-color: #f0f0f0;
}

.save-next-button {
  background-color: #ff5722;
  color: white;
}

.questions-status {
  flex: 1;
}

.padding {
  padding: 3px;
}

.status-grid {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  gap: 5px;
}

.status-item {
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  border-radius: 50%;
}

.attempted {
  background-color: #007bff;
  color: white;
}

.status-legend {
  margin-top: 20px;
}

.legend-item {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.legend-color {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 10px;
}

.legend-color.attempted {
  background-color: #007bff;
}

.flex-container {
  width: 80%;
  min-height: 300px;
  margin: 0 auto;
  display: -webkit-flex;
  /* Safari */
  display: flex;
  /* Standard syntax */
}

.flex-container .column {
  padding: 10px;
  -webkit-flex: 1;
  /* Safari */
  -ms-flex: 1;
  /* IE 10 */
  flex: 1;
  /* Standard syntax */
}

.pad {
  padding: 24px;
}

h3 {
  padding: 4px;
  margin-top: -34px;
}

.bg-white {
  background-color: #fff;
}

.wrap {
  text-wrap: normal;
  word-wrap: normal;
  word-wrap: break-word;
  flex-wrap: wrap;
}

.p10 {
  font-size: 14px;
}

.p11 {
  font-size: 18px;
}

.p12 {
  font-size: 28px;
}

.py-15 {
  padding-bottom: 15px;

}

.p1 {
  font-size: 18px;
}

.legend-color.not-attempted {
  border: 1px solid #ccc;
}

@media (max-width: 768px) {
  .test-content {
    flex-direction: column;
  }
}